# dependencies
/node_modules

# built files
/build

# environment files
.env

# IDE or editor files
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

